@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
body {
    margin: 0;
    font-family: 'Vollkorn', serif;
}
nav{
	position: absolute;
	width: 100%;
	top:0;
	color: #fff;
	text-align: right;
	z-index: 2;
	.wrapper{
		max-width: 80rem;
		margin: 0 auto;
	}
	.brand{
		float: left;
		font-size: 2rem;
		font-weight: bold;
	}
	a{
		color: #fff;
		font-size: 1rem;
		font-weight: normal;
	}
}
p {
	line-height: 2rem;
    font-size: 1.2rem;
  	text-rendering: optimizeLegibility;
    color: #555;
    max-width: 80rem;
    margin: 0 auto;
 	position: relative;
    padding: 5rem 5rem 10rem;
    -webkit-column-width: 20rem;
    -webkit-column-gap: 2rem;
    -moz-column-width: 20rem;
    -moz-column-gap: 2rem;
    -o-column-width: 20rem;
    -o-column-gap: 2rem;
    column-width: 20rem;
    column-gap: 2rem;
    .cite{
    	  font-size: .8rem;
		  position: absolute;
		  top: -2rem;
		  left: 4rem;
		  background: rgb(63, 63, 63);
		  color: white;
		  padding: .5rem 1rem;
    }
}
blockquote {
    font-size: 3rem;
    font-style: italic;
    font-weight: normal;
  	text-rendering: optimizeLegibility;
    color: #333;
    background: white;
    line-height: 3.8rem;
    max-width: 80rem;
    margin: -5rem auto 0;
    padding: 5rem 10rem 7rem;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    &:before{
		content: '\0201C';
		font-size: 10rem;
		position: absolute;
		top: 7rem;
		left: 2.2rem;
		opacity: .125;
    }
    [data-yapp-img] &{
    	color: #fff;
    	background: transparent;
    	margin: 0 auto;
    	&:before{
    		opacity: .75;
    	}
    }
}
.cite {
	display: block;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
    margin: 1em 0;
}